<div class="form" ng-controller="homeCtrl">
  <ul class="tab-group" layout="row">
    <li class="tab sactive ssiin ssii" ui-sref="nav.register">Sign Up</li>
    <li class="tab slogs">Log In</li>
  </ul>
  <div class="tab-content">
    <div id="login">
      <h1>Welcome Back!</h1>
      <div>
        <div class="field-wrap">
          <input type="email" placeholder="Email" class="req" ng-model="user.email" required autocomplete="off" />
        </div>
        <div class="field-wrap">
          <input type="password" placeholder="Password" class="req" ng-model="user.password" required autocomplete="off" />
        </div>
        <span ng-click="showPrompt($event)" style="color: lightskyblue">Forgot password?</span>
        <button class="button button-block" style="margin-top: 10px;" ng-click="loginUser(user)"/>Log In</button>
      </div>
    </div>
  </div>
  <!-- tab-content -->
</div>
<!-- /form -->
