<div ng-controller="homeCtrl" ng-init="signupCheck();">
  <md-whiteframe class="md-whiteframe-7dp" flex layout layout-align="end center" style="height: 3em; margin-bottom: 7px;">
    <div style="width: 150px; margin-right: 43em;" ui-sref="nav.landing"><img src="../assets/images/logo-02.svg"></div>
    <div ng-if="firstname" id="username">Hello, {{ firstname}}</div>
    <form method='POST' action='https://voguepay.com/pay/'>
      <input type='hidden' name='v_merchant_id' value='9002-0043668' />
      <input type='hidden' name='memo' value='Bookcrunch Premium account' />
      <input type='hidden' name='total' value='500' />
      <md-button ng-if="firstname" type="submit" alt='Submit' style="margin-left: 20px;" class="md-raised md-primary">Go Premium</md-button>
    </form>
    <md-button ng-if="firstname" style="margin-left: 20px;" class="md-raised" ng-click="logout();">Logout</md-button>
    <md-button ng-if="!firstname" class="md-raised" ui-sref="nav.register">Register</md-button>
    <md-button ng-if="!firstname" class="md-raised" ui-sref="nav.login">Login</md-button>
  </md-whiteframe>
  <div ui-view></div>
  <div class="footer">
    <div id="firstRow">
      <div id="first-col">
        <h4>Contact Information</h4>
        <span><img class="svg" src="../assets/images/phone.png"> Phone:  +234 706 052 2696</span>
        <span class="marg-top"><img class="svg" src="../assets/images/phone.png"> Phone:  +234 816 032 6532</span>
        <span class="marg-top"><img class="svg" src="../assets/images/messages.png"> Email:  info@bookcrunch.com.ng</span>
      </div>
      <div id="sec-col">
        <h4>About</h4>
        <ul class="list">
          <li>About Us</li>
          <li class="marg-top">Our Directors</li>
          <span class="marg-top"><img src="../assets/images/facebook_circle.png"><img src="../assets/images/twitter_circle.png"></span>
        </ul>
      </div>
      <div id="third-col">
        <h4>Get Involved</h4>
        <ul class="list">
        	<li>General Membership</li>
        	<li class="marg-top">Ambassador Program</li>
        	<li class="marg-top">Leadership Program</li>
        </ul>
      </div>
      <div id="fourth-col">
        <h4>Information</h4>
        <ul class="list">
        	<li>Terms & Conditions</li>
        	<li class="marg-top">Sitemap</li>
        	<li class="marg-top">Afiliate Program</li>
        </ul>
      </div>
    </div>
    <div id="secRow">
      <p class="marg-top">BookCrunch 2016 | <img class="svg" src="../assets/images/logo_black-01.svg" width="19" height="19" alt="" data-mu-svgfallback="../assets/images/logo_black-01_poster_.png"></p>
    </div>
  </div>
</div>
