<div ng-controller="homeCtrl" ng-init="signupCheck();">
  <md-whiteframe class="md-whiteframe-7dp" flex layout layout-align="end center" style="height: 3em; margin-bottom: 7px;">
    <div style="width: 150px; margin-right: 43em;" ui-sref="nav.landing"><img src="../assets/images/logo-02.svg"></div>
    <div ng-if="firstname" id="username">Hello, {{ firstname}}</div>
    <form method='POST' action='https://voguepay.com/pay/'>
      <input type='hidden' name='v_merchant_id' value='9002-0043668' />
      <input type='hidden' name='memo' value='Bookcrunch Premium account' />
      <input type='hidden' name='total' value='500' />
      <md-button ng-if="firstname" type="submit" alt='Submit' style="margin-left: 20px;" class="md-raised md-primary">Go Premium</md-button>
    </form>
    <md-button ng-if="firstname" style="margin-left: 20px;" class="md-raised" ng-click="logout();">Logout</md-button>
    <md-button ng-if="!firstname" class="md-raised" ui-sref="nav.register">Register</md-button>
    <md-button ng-if="!firstname" class="md-raised" ui-sref="nav.login">Login</md-button>
  </md-whiteframe>
  <div ui-view></div>
  <div class="footer">
    <div id="firstRow">
      <div id="first-col">
      	<p>Contact Information</p>
      </div>
      <div id="sec-col">
      	<p>About</p>
      </div>
      <div id="third-col">
      	<p>Get Involved</p>
      </div>
      <div id="fourth-col">
      	<p>Information</p>
      </div>
    </div>
    <div id="secRow">
    	<p>BookCrunch 2016 |</p>
    </div>
  </div>
</div>
