.content {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  font-family: antic-slab, sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.free {
  font-weight: 700;
  font-size: medium;
}

.footer {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  color: #B3B3B3;
  justify-content: space-around;
  margin-top: 10em;
  height: 20em;
  background-color: #112631;
}

.svg {
  vertical-align: top;
}

.marg-top {
  margin-top: 20px;
}

.list{
  list-style-type: disc; 
  margin-left: -27px;
  margin-top: -2px;
}

#firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 150px;
  margin-right: 150px;
}

#first-col {
  display: flex;
  flex-direction: column;
}

#sec-col {
  display: flex;
  flex-direction: column;
}

#third-col {
  display: flex;
  flex-direction: column;
}

#fourth-col {
  display: flex;
  flex-direction: column;
}

#secRow {
  display: flex;
  justify-content: center;
}

.read {
  padding-top: 9px;
  border-style: solid;
  width: 100px;
  height: 29px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 56px;
  margin-top: 15px;
  border-width: 1px;
  border-radius: 5px;
  background: #A9A9A9;
}

.book-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: space-between;
  margin-left: 7em;
}

.username {
  font-weight: 600;
  font-family: 'Helvetica'
}

.book-cover {
  height: 259px !important;
  width: 210px !important;
  background-repeat: no-repeat;
}

#card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
  &:hover {
    color: #1ab188, 5%;
  }
}

.form {
  background-color: #13232f;
  color: #ffffff;
  opacity: 0.9;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(#13232f);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.siin {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #31B994;
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.sii:hover {
  background: #1ab188;
  color: #ffffff;
}

.logs {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #11181d;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.logs:hover {
  background: #1ab188;
  color: #ffffff;
}

.active a {
  color: #ffffff;
}

.ssiin {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #11181d;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.ssii:hover {
  background: #1ab188;
  color: #ffffff;
}

.slogs {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #31B994;
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.slogs:hover {
  background: #1ab188;
  color: #ffffff;
}

.sactive a {
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: #ffffff;
  opacity: 0.5;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
  .req {
    margin: 2px;
    color: #1ab188;
  }
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  .req {
    opacity: 0;
  }
}

label.highlight {
  color: #ffffff;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline: 0;
    border-color: #1ab188;
  }
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  height: 68px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > div {
    float: left;
    width: 48%;
    margin-right: 4%;
    &:last-child {
      margin: 0;
    }
  }
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all.5s ease;
  -webkit-appearance: none;
  &:hover,
  &:focus {
    background: #1ab188, 5%;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
